
/*********** Style : Typo et couleurs ***********/


h1 {
    position: absolute;
    font-size: 96px;
    text-decoration:dotted;
    color: transparent;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 700;
    font-style: italic;
    line-height: 142.18px;
    padding-top: 402px;
    padding-left: 402px;

    -webkit-text-stroke-width: 3px;
    -webkit-text-stroke-color: white;
}

h2 {
    font-size: 66px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-style: italic;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 58px;
}

h3 {
    font-size: 18px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    line-height: 26.66px;
}

p {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 20.73px;
}

/*********** Header ***********/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-shadow: 0 4px 4px 0 #00000008;
}

body {
    margin : 0px;
    padding : 0px;
}

nav {
    margin-right: 145px;
}

.logo img {
    margin-left: 145px;
    max-width: 216px;
    max-height: 14px;
}

/*********** Espace haut du site et header ***********/

@media screen {
    html {
        margin-top: 0px !important;
    }
}

/* Bannière */

.ImgBanner {
    max-width: 1903px;
    height: auto;
}

.menu-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
}

/*********** Menu ***********/

.menu {
    display: flex;
    gap: 50px;
}

.menu li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
}

/*********** Bloc photo ***********/

.photopage {
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 145px;
    margin-right: 145px;
    align-items: flex-end;
}

/*********** Bloc photo - Bandeau d'interactions inférieur ***********/

.bannerBottom {
    margin-left: 145px;
    margin-right: 145px;
}

.selectorPhoto {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    gap: 430px;
}

.selectorPhoto p {
    font-size: 14px;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    line-height: 21px;
}

.contactPhoto {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    line-height: 17px;
    background-color: #d8d8d8;
    border-style: none;
    border-radius: 2px;
    width: 272px;
    height: 50px;
}

.fleches {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.line3 {
    width: 898px;
    height: 1px;
}

.blocline4 {
    margin-left: 145px;
    margin-right: 145px;
}

.line4 {
    width: 1616px;
    height: 1px;
    margin-top: 35px;
}

/*********** Bloc photo - Bandeau d'interactions inférieur P2 ***********/

.carrousel {
    margin-top: 80px;
    margin-bottom: 80px;
    margin-left: 145px;
    margin-right: 145px;
}

.carrouselPhoto {
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
}

.boutonPhoto {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    line-height: 17px;
    background-color: #d8d8d8;
    border-style: none;
    border-radius: 2px;
    width: 272px;
    height: 50px;
    margin-top: 50px;
}

/* Modale */

#modalecontact {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
}

.contact {
    Width: 597px;
    Height: 769px;
    background-color: white;
    margin-top: 30px;
    border: 5px solid black;

    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
}

.bannermodale {
    Width: 885px;
    Height: 106px;
    padding-top: 20px;
    padding-bottom : 30px;
}

/* Case de la modale de contact */

.modale {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: center;
}

.modalenom label {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 18px;
}

.modalemail label {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 18px;
}

.modaleref label {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    text-transform: capitalize;
    line-height: 18px;
}

.modalemess label {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 18px;
}

.wpcf7-textarea {
    padding-top: 18px;
    width: 263px;
    height: 210px;
    border: solid 1px #B8BBC2;
    border-radius: 8px;
}
.modalesubmit input {
    font-size: 12px;
    color: black;
    text-decoration: none;
    font-family: 'SpaceMono', sans-serif;
    font-weight: 400;
    line-height: 17px;
    background-color: #d8d8d8;
    border-style: none;
    border-radius: 2px;
    width: 263px;
    height: 50px;
}

.wpcf7-text {
    padding-top: 23px;
    width: 263px;
    height: 15px;
    border: solid 1px #B8BBC2;
    border-radius: 8px;
}

/*********** Footer ***********/

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px black solid;
    width: 100%;
}